<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log-In Page</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div>
        <form action="/user/login" method="post">
            <label for="email">Email</label>
            <input type="text" name="email" placeholder="exmaple@gmail.com" required>
            <label for="password">Password</label>
            <input type="password" name="password" required>
            <button type="submit">Log-In</button>
        </form>
    </div>
</body>
</html>