<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-Up Page</title>
    <link rel="stylesheet" href="/css/signup.css">
</head>
<body>
    <form action="/user/signup" method="post">
        <label for="Name">Name</label>
        <input type="text" name="Name" placeholder="Exmaple Singh" required>
        <label for="email">Email</label>
        <input type="text" name="email" placeholder="exmaple@gmail.com" required>
        <label for="password">Password</label>
        <input type="password" name="password" required>
        <button type="submit">Sign-Up</button>
    </form>
</body>
</html>